#div1 {
    width: 500px; 
    height: 700px;
    border: 2px solid; 
    border-radius: 5%; 
    background-color: white; 
}

#divb{
    background-color: #091426; 
    border-radius: 20px; 
    width: 250px; 
    height: 50px; 
    font-weight: bold; 
    margin-top: 100px;
}

